#btn {
    display: inline-block;
    background-color: green;
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}
.button {
    display: inline-block;
    background-color: yellow;
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
}
input {
    margin-left: 30px;
}
